$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import '_variables';
@import 'fonts';
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import '_bootswatch';

  /* Custom page footer */
.footer {
  padding-left: 15px;
  padding-right: 16px;
  padding-top: 7px;
  //    color: #777;
  border-top: 1px solid #e5e5e5;
  //overflow:hidden;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.margin-right {
  margin-right: 5px;
}
.margin-left {
  margin-left: 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 992px) {
  .container {
    max-width: 970px;
  }



  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
    //        background:#dfe9ff;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }

}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background: $middleBlue;
  color: #FFFFFF;

}

@import 'style';
